<!DOCTYPE html>
<html>
   <head>
      <title>
      </title>
   </head>
   <body>
      <footer class="footer-area">
         <div class="container">
            <div class="row">
               <div class="col-md-6 col-sm-6">
                  <p>
                     &copy; 2019 COPYRIGHT  [TA]  TEACHERS ASSISTANT TEAM
                  </p>
               </div>

               <div class="col-md-6 col-sm-6">
                  <ul class="social-links">
                     <li>
                        <a href=""><i class="fab fa-github"></i></a>
                     </li>

                     <li>
                        <a href=""><i class="fab fa-github"></i></a>
                     </li>

                     <li>
                        <a href=""><i class="fab fa-github"></i></a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </footer>
   </body>
</html>
