 <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/"
        ><img src="static/ta-logo.png" class="img-responsive" alt="" />Teacher's
        Assistant</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/register">Register</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/logout">Logout(Logged In)</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/student"
              >Dashboard(Logged In & Student)</a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/teacher"
              >Dashboard(Logged In & Teacher)</a
            >
          </li>
        </ul>
      </div>
    </nav>
