{% from 'macros.html' import render_field %}

<a href="/event">Return to Events</a>
<h3>Event - {{ found_event }}</h3>
<p>Student = {{ found_event.student.username }}</p>
<p>Date = {{ found_event.date }}</p>
<p>Duration = {{ found_event.duration }} Minutes</p>
<form method="POST" action="" class="form">
    {{ form.hidden_tag() }}
    {% for field in form %}
        {{ render_field(field) }}
    {% endfor %}
    <!-- <input type="time" id="time" name="time"> -->
    <button type="submit" id="submit">Update Event</button>
</form>