<div class="events">
  <h2>Events!</h2>
  <a href="/event/create">Create New Event</a> <a href="/">Home</a>
  <p>Signed in as {{ current_user.username }}</p>
  {% for event in events %}
  <!-- Populate all events if user course matches instructor course -->
  {% if current_user.course == event.instructor.course %}
  <p>Meeting with {{ event.student.username }}, on {{ event.date }} instructor {{event.instructor.username}} - Event ID:{{ event }}</p>  
  {% endif %}
  <!-- Adds delete/edit buttons if the logged in user is the instructor for the event -->
  {% if current_user == event.instructor %}
  <a href="{{ url_for('event_delete', id=event.id) }}" class="delete_button">Delete</a> <a href="{{ url_for('event_update', id=event.id) }}" class="edit_button">Edit</a>
  {% endif %}
  <!-- Adds a Signup button to the event if there is no student assigned and they are not an instructor themselves -->
  {% if event.student == None %}
  <a href="{{ url_for('add_student_to_event', id=event.id) }}" class="add_student">Sign Up</a>
  {% endif %}

  {% endfor %}
</div>
